body {
  font-family: 'SQUID GAME', 'Roboto', sans-serif; /* Use custom font first, then fallback */
  background-color: #141414;
  color: #ffffff;
  line-height: 1.6; /* Improve readability */
  text-align: center; /* Center align all body text */
}

h1 {
  font-size: 3.5em; /* Slightly larger */
  margin: 30px 0; /* Increase margin for breathing room */
  color: #ff4500;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5); /* Add subtle shadow */
}

#playerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
  gap: 20px;
  max-width: 90%; /* Make the grid more responsive */
  margin: 40px auto; /* More margin top/bottom */
}

.player {
  background-color: #282828;
  padding: 25px; /* Slightly more padding */
  border-radius: 4px; /* Softer corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Initial shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transform for hover effect */
}

.player:hover {
  /* transform: translateY(-5px); Lift on hover */
  box-shadow: 0 8px 16px rgba(255, 3, 3, 0.3); /* Stronger shadow on hover */
}

.player img {
  width: 100%; /* Make image responsive */
  height: auto;
  max-height: 200px; /* Limit image height */
  object-fit: cover; /* Cover the container without distorting the image */
  margin-bottom: 1px;
  border-radius: 8px;
}

.player p {
  font-size: 1.3em;
  margin-bottom: 0; /* Remove extra bottom margin */
}
